<h1>Contacts</h1>

<h2>{{userName}}</h2>
<h2>{{msg}}</h2>

<form method='POST' action='send'>
  <div class='row'>

    <label for='exampleEmailInput'>Your name</label>
    <input
      class='u-full-width'
      name='name'
      type='text'
      placeholder='Your name'
    />

    <label for='exampleEmailInput'>Your email</label>
    <input
      class='u-full-width'
      name='email'
      type='email'
      placeholder='Your email'
    />

    <label for='exampleEmailInput'>Your password</label>
    <input
      class='u-full-width'
      name='password'
      type='password'
      placeholder='Your password'
    />

  </div>

  <input class='button-primary' type='submit' value='Submit' />
</form>